.App {
  text-align: center;
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #555;
  color: white;
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 20%;
}

.links li {
  color: white;
}

a {
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  background-color: rgb(137, 244, 14);
  border-radius: 10px;
  
}

a:hover li{
  color: black;
}
